<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
    </div>
    <mat-card-title>{{petInfo.name}}</mat-card-title>
    <mat-card-subtitle>{{petInfo.nickName}}</mat-card-subtitle>
  </mat-card-header>
  <div class="user-picture">
  </div>
  <mat-card-content class="description">
    <div>
      <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon">location_on</mat-icon>
      <mat-form-field appearance="fill">
        <mat-label>Raça</mat-label>
        <input matInput value="{{petInfo.breed}}">
      </mat-form-field>
    </div>
    <div>
      <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon">location_on</mat-icon>
      <mat-form-field appearance="fill">
        <mat-label>Especie</mat-label>
        <input matInput value="{{petInfo.species}}">
      </mat-form-field>
    </div>
    <div>
      <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon">person</mat-icon>
      <mat-form-field appearance="fill">
        <mat-label>Nome do Dono</mat-label>
        <input matInput value="{{petInfo.name}}">
      </mat-form-field>
    </div>
    <div>
      <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon">phone</mat-icon>
      <mat-form-field appearance="fill">
        <mat-label>Telefone do Dono</mat-label>
        <input matInput value="{{petInfo.telefoneDono}}">
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions class="card-actions">
    <button mat-raised-button (click)="edit()">Editar</button>
    <button mat-raised-button color="warn" (click)="delete()">Excluir</button>
  </mat-card-actions>
</mat-card>
