.container {
    margin-top: 30px;
}

.add-pet {
    margin-bottom: 30px;
}

.list-pet {
    margin-bottom: 50px;
}

.btn-add-pet {
    margin-right: 10px;
}

.card-body {
    overflow-x:auto;
}

.btn-warning {
    margin: 1%;
}

.btn-danger {
    margin: 1%;
}