<div id="container">
  <app-header></app-header>
  <main class="content">
    <div class="header-container">
      <a routerLink="/owner">
        <i class="material-icons">chevron_left</i>
      </a>
      <h1>Alterar Dono</h1>
    </div>
    <div class="create-content">
      <form>
        <mat-form-field>
          <input matInput placeholder="Nome" required type="text" [(ngModel)]="owner.name" name="name" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Email" required type="email" [(ngModel)]="owner.email" name="email" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Telefone" type="text" [(ngModel)]="owner.phone" name="phone"
            mask='(00) 00000-0000' />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Endereço" type="text" [(ngModel)]="owner.address" name="address" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Data de nascimento" type="text" [(ngModel)]="owner.birthday" name="birthday"
            mask="00/00/0000" />
        </mat-form-field>
      </form>
      <button class="primary" (click)='confirmDialog()'>Alterar</button>
    </div>
  </main>
</div>
<app-footer></app-footer>