<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="card-header-image">
    </div>
    <mat-card-title>{{ownerInfo.name}}</mat-card-title>
  </mat-card-header>
  <div class="user-picture">
  </div>
  <mat-card-content class="description">
    <div>
      <mat-icon class="icon" aria-hidden="false" aria-label="Name">person</mat-icon>
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput value="{{ownerInfo.name}}" readonly>
      </mat-form-field>
    </div>
    <div>
      <mat-icon class="icon" aria-hidden="false" aria-label="Email">location_on</mat-icon>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput value="{{ownerInfo.email}}" readonly>
      </mat-form-field>
    </div>
    <div>
      <mat-icon class="icon" aria-hidden="false" aria-label="Phone">phone</mat-icon>
      <mat-form-field appearance="fill">
        <mat-label>Telefone</mat-label>
        <input matInput value="{{ownerInfo.phone}}"  mask="(00) 0000-0000" readonly>
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions class="card-actions">
    <button mat-raised-button color="primary" (click)="edit()">Editar</button>
    <button mat-raised-button color="warn" (click)="delete()">Excluir</button>
    <button mat-raised-button (click)="detail()">Detalhes +</button>
  </mat-card-actions>
</mat-card>
