
.description {
    display: flex;
    flex-direction: column;
    place-content: center;
}

.card {
    width: 250px;
    height: 320px;
    margin: 16px;
}

.card-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.card-actions {
    display: flex;
    flex-direction: row-reverse;
}

.icon {
    margin-right: 4px;
}

.mat-form-field-underline {
    width: 0%;
}
  