
header {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  nav {
    display: flex;
    flex-direction: row;
    a {
      margin: 0 10px;
      font-weight: medium;
      text-decoration: none;
      align-items: center;
      opacity: 0.6;
    }

    .nav-active {
      opacity: 1;
      font-weight: bold;
    }
  }
  
}