<app-navbar></app-navbar>

<div class="container-form">

<div class="col-sm-12 col-md-4"></div>
<div class="col-sm-12 col-md-4 col-md-offset-0">
<form>
  <div class="form-group">
    <h1> Atualizar Dados </h1>

    <label for="exampleInputPassword1">Nome</label>
    <input type="name" class="form-control" [(ngModel)]="owners.name" name="name" placeholder={{ownersInfo.name}}>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" [(ngModel)]="owners.email" name="email" placeholder="Email" placeholder={{ownersInfo.email}}>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Data de nascimento</label>
    <input type="date" class="form-control" [(ngModel)]="owners.birthday" name="birthday" placeholder={{ownersInfo.birthday}}>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Telefone</label>
    <input type="phone" class="form-control" [(ngModel)]="owners.phone" name="phone" placeholder={{ownersInfo.phone}}>
  </div>
  <button type="submit" class="btn btn-success" (click)='updateOneOwner(ownersInfo.id)'>Atualizar  </button>
</form>
</div>
<div class="col-sm-12 col-md-4"></div>
</div>
