.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: #800080;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.page-template {
    display: flex;
    flex-wrap: wrap;
    padding: 8%;
    margin-top: 80px;
    height: 100%;
    place-content: space-evenly;
    background-color: #CCC;
}

.page-title {
    width: 100%;
    height: 70px;
    border-bottom: solid 2px #800080;
    text-align: center;
    margin-bottom: 16px;
}

.logo {
    display: flex;
    width: 24%;
    height: 100%;
    align-items: center;
    place-content: space-around;
    font-size: x-large;
    color: white;
}

.menuList {
    display: flex;
    color: white;
    margin: 0 4%;
}

.menu {
    margin: 1px 16px;
    display: flex;
    align-items: center;
    &:hover {
        border-bottom: 3px solid white;
    }
}