<app-navbar></app-navbar>
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr >
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Apelido</th>
        <th scope="col">Espécie</th>
        <th scope="col">Raça</th>
        <th scope="col">Ações</th>



      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pets of petsInformation">
        <th scope="row">{{pets.id}}</th>
        <td>{{pets.name}}</td>
        <td>{{pets.nickName}}</td>
        <td>{{pets.species}}</td>
        <td>{{pets.breed}}</td>
        <td>  <a class="btn btn-outline-info" (click)="getOnePet(pets.id)">Informações </a>
        <a class="btn btn-outline-warning">Atualizar</a> 
        <a class="btn btn-outline-danger">Deletar</a> 

        </td>


      </tr>


   
    </tbody>
  </table>
</div>
