<h1 mat-dialog-title>Informações Pet</h1>
<div mat-dialog-content>
  <form [formGroup]="formGroup" class="form">
    <mat-form-field appearance="fill">
      <mat-label>Apelido</mat-label>
      <input matInput formControlName="name" value="{{data?.nickName}}">
      <mat-error> Apelido inválido </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Raça</mat-label>
      <input matInput formControlName="breed" value="{{data?.breed}}">
      <mat-error> Raça inválido </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Especie</mat-label>
      <input matInput formControlName="species" value="{{data?.species}}">
      <mat-error> Especie inválido </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Dono do Pet</mat-label>
      <mat-select formControlName="ownerId">
        <mat-option *ngFor="let owner of ownerList" [value]="owner.id">
          {{owner.name}}
        </mat-option>
      </mat-select>
      <mat-error> Dono inválido </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions  class="card-actions">
  <button mat-raised-button color="primary" type="submit" [disabled]="!formGroup.valid" (click)="onSubmitClick()">Ok</button>
  <button mat-raised-button color="warn" (click)="onNoClick()">Cancelar</button>
</div>
