// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$mat-pets: (
  50: #f5f0fc,
  100: #dccef0,
  200: #9b7fc5,
  300: #b49ad8,
  400: #997bc2,
  500: #7d5daa,
  600: #664396,
  700: #4f2f7c,
  800: #3c2063,
  900: #301851,
  A100: #9b7fc5,
  A200: #5f30a2,
  A400: #3c2063,
  A700: #301851,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$pets-primary: mat-palette($mat-pets);
$pets-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$pets-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$pets-theme: mat-light-theme(
  (
    color: (
      primary: $pets-primary,
      accent: $pets-accent,
      warn: $pets-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($pets-theme);

/* You can add global styles to this file, and also import other style files */

$primary-color: #5f30a2;
$text-color: rgba($primary-color, 0.6);
$background: #f5f5f9;
$accent_color_1: #ffd006;
$accent_color_bg_1: rgba($accent_color_1, 0.1);
$accent_color_2: #ff8593;
$accent_color_bg_2: rgba($accent_color_2, 0.1);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, Roboto, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  background: $background;
  -webkit-font-smoothing: antialiased;
  color: $text-color;

  a {
    cursor: pointer;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  th {
    color: $primary-color !important;
  }

  p,
  tr,
  td {
    color: $text-color !important;
  }

  td,
  th {
    border-bottom-color: rgba($text-color, 0.1) !important;
  }
}

.detail-action i {
  margin-right: 8px;
  background: rgba($primary-color, 0.1);
  color: $primary-color;
  padding: 5px;
  border-radius: 10px;
}

.edit-action i {
  background: $accent_color_bg_1;
  color: $accent_color_1;
  padding: 5px;
  border-radius: 10px;
}

.delete-action i {
  margin-left: 8px;
  background: $accent_color_bg_2;
  color: $accent_color_2;
  padding: 5px;
  border-radius: 10px;
}

.add-action i {
  background: rgba($primary-color, 0.1);
  color: $primary-color;
  padding: 5px;
  border-radius: 10px;
}

button {
  font-size: 16px;
  padding: 15px;
  border-radius: 10px;
  border: none;
}

button.primary {
  background: $primary-color;
  color: rgba(#fff, 0.6);
}

button.accent {
  background: $accent-color_2;
  color: #fff;
}

#container {
  max-width: 1200px;
  padding: 0 16px;
  width: 100%;
  margin: 0 auto;
  min-height: 100%;
}

.content {
  margin: 80px auto;
  padding: 64px;
  max-width: 100%;
  min-height: 600px;
  margin-bottom: 60px;
  background: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
